@import 'bulma';



a.navbar-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

ul.book-details {
  display:inline-block;
  position: absolute;
}

img.cover {
  width:150px;
  height:220px;
}